<div class="application-col">
    <div class="row header">
      <div class="col-md-12">
        <h3>Existing Teams Enrolled In Tournaments</h3><br>
      </div>
    </div>
    <div class="js-items-container">
    	<%= render partial: 'teams/team', collection: @teams %>
    </div>
    <div class="pagination" data-pagination-endpoint="<%= @endpoint %>" data-pagination-pages="<%= @page_amount %>">
    	<%= image_tag 'ajax-loader.gif' %>
    </div>
</div>
