<div class="tournaments js-items-container">
	<%= render partial: 'tournaments/item', collection: @tournaments %>
</div>

<div class="pagination" data-pagination-endpoint="<%= @endpoint %>" data-pagination-pages="<%= @page_amount %>">
	<%= image_tag 'ajax-loader.gif' %>
</div>
