<div class="header">
  <h1 class="text-center main-title">Coming soon, sportnd</h1>
  <h3 class="text-center">A new sporting community for basketball players in Belize. Start tournaments
  and have participating teams fund them. The winning team is rewarded the funds!</h3>
</div>
<div class="main-content">
  <section class="sec-content">
    <h1 class="sec-title" id="overview">Overview</h1>
    <p>
      sportnd is a community where basketball players accross Belize will be able to start and organize their own
      tournaments. Tournaments are team oriented and are played on the weekend at basketball courts throughout Belize.
    </p>
    <p>
      We say that tournaments are funded because on the day the tournament is to be played, participating
      teams, and their members, will need to bring forth an entry amount (either, $4, $6, or $8) specified by the tournament.
      Once the tournament has been played, the total entry amount from each team (the fundings) will be rewarded
      to the winning team by the organizer (the person who started the tournament).
    </p>

    <p>The following is how it all works in a nutshell:</p>

    <div class="balling-phases">
      <div class="row">
        <div class="col-md-12">
          <h3>Organizer Collects Entry Amount</h3><br/>
          <div class="col-md-6 col-sm-12 col-xs-12 center-block">
            <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1496852867/OrganizerCollecting_jkh6uw.png" alt="Organizer collecting">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Balling</h3><br/>
          <div class="col-md-8 col-sm-12 col-xs-12 center-block">
            <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1496469622/Balling_f2tg9y.png" alt="Playing tournament">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Organizer Rewards Winning Team</h3><br/>
          <div class="col-md-8 col-sm-12 col-xs-12 center-block">
            <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1496852862/OganizerRewardingWinner_uqxljw.png" alt="Reward winning team">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="footer">
    <h2 class="text-center">Follow us on facebook if you'd like to be notified when we officially launch the main website. Before
    launching we'll be selecting random followers to participate in the first ever sportnd tournament.</h2></br>
  <p class="text-center"><a href="https://www.facebook.com/sportndbelize/" class="btn btn-primary">Follow Us On Facebook</a></p>

    <h4 class="text-center">It's worth mentioning that this is just a pre-launch website, and not the main website that will be used to start tournaments or
    enroll in them. That's coming soon!</h4>
</div>
