<div class="header">
  <h1 class="text-center main-title">Coming soon, sportnd</h1>
  <h3 class="text-center">A new sporting community for basketball players in Belize. Start tournaments
  and have participating teams fund them. The winning team is rewarded the funds!</h3>
</div>
<div class="nav">
  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#starting-tournament">Starting a tournament</a></li>
    <li><a href="#enrolling">Enrolling in a tournament</a></li>
    <li><a href="#balling">Balling</a></li>
  </ul>
</div>
<div class="main-content">
  <section class="sec-content">
    <h1 class="sec-title" id="overview">Overview</h1>
    <p>
      sportnd is a community where basketball players accross Belize will be able to start and organize their own
      tournaments. Tournaments are played on the weekend at basketball courts throughout Belize.
    </p>
    <p>A tournament is oriented around multiple teams, but it also implies that once
      the tournament has been played, the winning team will receive some sort of prize. Within the sportnd community,
      tournaments aren't sponsored. Rather, tournaments are funded by the basketball players in the community
      who participate in them. This is accomplished by means of an entry amount (either $4, $6, or $8).
    </p>
    <p>
      This means that in order to enter any tournament, participating basketball players
      will need to bring forth an entry amount required by the tournament on the day that it is to be played.
      Once the tournament has been played, the total entry amount from each teams and it's memebers (the fundings) will be rewarded
      to the winning team by the organizer (the person who started the tournament).
    </p>
  </section>
  <section class="sec-content">
    <h1 class="sec-title" id="starting-tournament">Starting a tournament</h1>
    <p>
      Starting a new tournament will be done using our upcoming website at sportnd.bz. In order for you to start a tournament the following
      requirements must be met:
      <ul>
        <li>Starting a tournament has to be done on either Saturday or Sunday.</li>
        <li>You can't start more than one tournament per weekend.</li>
        <li>If enrolled in another tournament, your new tournament can't match it's date.</li>
      </ul>
    </p>
    <h2>Starting a tournament is as simple as choosing:</h2>
    <ul>
      <li>A court near you where the tournament will be played.</li>
      <li>How many teams will be able to enroll in your tournament (2 minimum, 4 maximum).</li>
      <li>How many members should be in a team (2 minimum, 3 maximum).</li>
      <li>An entry amount per team member ($4, $6, or $8) - this is how tournaments are funded whenever a member participates.</li>
      <li>A day and time on the weekend you want your tournament to be played (Saturday, Sunday).</li>
      <li>A team color for which you want to enroll as (enrolling a team is as simple as choosing a team color).</li>
    </ul>
  </section>
  <section class="sec-content">
    <h1 class="sec-title" id="enrolling">Enrolling in a tournament</h1>
    <p>Enrolling in a tournament will also be done using our website. You will be able to enroll
      in a tournament by either enrolling a team or joining an already enrolled team. Once you've found a tournament
       you'd like to participate in it's as simple as choosing a team color to enroll.
    </p>
    <p>
       Your friends and only your friends will then be able to join your team. Since we use facebook as our registration
       method, your friends list will determine whether a member can join your team or not depending if said member is part of that list.
    </p>
    <p>
      Therefore, tournaments are inclusive, meaning anyone can enroll a team in a tournament, but teams are exclusive,
       meaning only your actual friends will be able to join your team. How much friends can join your team
       depends on the tournament.
    </p>
    <p>
       Each participating members in your team, along with the other enrolled teams, will be funding the tournament
       by means of the tournamnt's entry amount (either $4, $5 or $6).
    </p>
    <h2>Enrollement requirements are as follow:</h2>
    <ul>
      <li>You haven't reached the enrollment limit per weekend. You can participate in a total of two
      tournaments per weekend. One on Saturday and one on Sunday, but never twice on the same day.</li>
      <li>The tournament is still in the enrollment period. The enrollment period for a tournament spans from
      the day the tournament was created up to the following Friday.</li>
    </ul>
  </section>
  <section class="sec-content">
    <h1 class="sec-title" id="balling">Balling - the fun part!</h1>
    <p>As previously mentioned, all tournaments are played only on the weekend. The sportnd community
    is oriented around two concepts. The website, which is used to start tournaments or enroll in them.
    The basketball court, which is where the actual balling happens.</p>
    <p>
      Playing involves three phases - the organizer collecting
      the entry amount from each participating team and it's members (fundings), the acutal balling, and the organizer rewarding the winning team
      with the gathered fundings from each participating team.
    </p>
    <div class="row phase">
      <div class="col-md-12">
        <h2>Phase One - Tournament organizer collects entry amount.</h2>
        <p>It is the responsibility of the organizer to collect the entry amount from each team, including
          his team, and it's members <span class="important">before</span> starting the tournament. This verifies that everyone participating
          will be funding the tourament. Once this phase is done, the participants can begin playing.
        </p>
        <div class="col-md-8 col-sm-12 col-xs-12 center-block">
          <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1496467863/OrganizerCollecting_a7seeo.png" alt="Organizer collecting">
        </div>
      </div>
    </div>
    <div class="row phase">
      <div class="col-md-12">
        <h2>Phase Two - Balling</h2>
        <h4>We leave the finer details of the game up to you. You decide which two teams will play first, whether
          three pointers are allowed, play full court or half court, etc...</h4><br/>
        <p>This part is at the heart of the sportnd community. In order to have the best experience we ask you to please
        play <span class="important">honest</span> and have <span class="important">sportmanship</span>. These are the two pillars of the sportnd community.
       </p>
        <p>
        There important because all sportnd tournaments are officiated by the teams and their players while playing against each other. <span class="important">There are
        no referees</span> - refereeing is instead done by the players. Without honesty and sportmanship there
        will be no trust and building of new relationships, not to mention that the overall fun for everyone
        participating in the tournament will be degraded.
      </p>
        <p class="important">We recommend that the other teams
        waiting to play against each other keep track of the score between the two teams currently playing so as to avoid any
        confusion or cheating.</p>
        <p>
        Overall, Don't be a sore looser, and since the players playing against each other
        will be the one's calling fouls and other in-game related calls, it's imporant to be honest. Don't make bad calls
        while playing just to give your team an advantage. Follow these basic principles and you'll have an outstanding basketball
        experience. In the end, even if you loose you end up not loosing. You still got to play against other new players, establish new
        relationships, and have a good time. So it's really a win-win in either case.
      </p>
        <div class="col-md-8 col-sm-12 col-xs-12 center-block">
          <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1496469622/Balling_f2tg9y.png" alt="Playing tournament">
        </div>
      </div>
    </div>
    <div class="row phase">
      <div class="col-md-12">
        <h2>Phase Three - Organizer rewards winning team</h2>
        <p>This is the last phase of playing a tournament. Once the tournament has been played, the organizer
         has the responsibility of rewarding the winning team with the previously collected entry amount (funds),
         in this example it's $40. The winning team will then equally distribute the winning total amongst it's members.
        </p>
        <div class="col-md-8 col-sm-12 col-xs-12 center-block">
          <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1496637196/OganizerRewardingWinner_r2ft40.png" alt="Reward winning team">
        </div>
      </div>
    </div>
  </section>
</div>

<div class="footer">
    <h2 class="text-center">Follow us on facebook if you'd like to be notified when we officially launch the main website. Before
    launching we'll be selecting random followers to participate in the first ever sportnd tournament, so
  do follow us because it may just be you!</h2></br>
  <p class="text-center"><a href="https://www.facebook.com/sportndbelize/" class="btn btn-primary">Follow Us On Facebook</a></p>

    <h4 class="text-center">It's worth mentioning that this is just a pre-launch website, and not the main website that will be used to start tournaments or
    enroll in them. That's coming soon!</h4>
</div>
