<div class="application-col">
  <div class="row">
    <div class="col-md-12">
      <h3>Information You Should Know</h3>
      <hr>
    </div>
    <div class="col-md-12">
      <ol>
        <li>
          <h4>Tournaments are played on the weekends</h4>
          <p>All tournaments on sportnds are played on either Saturday or Sunday.</p>
        </li>
        <li>
          <h4>You can start a tournament only on the weekend (Saturday or Sunday)</h4>
          <p>If you want to start & organize your own tournament you will have to do so on the weekend. Saturday & Sunday
          is the period you have to start a new tournament. You are not allowed to start a new tournament on weekdays.</p>
        </li>
        <li>
          <h4>You can start just one tournament per week</h4>
          <p>For any given week you can start just one tournament. At no point in time can you ever organize 2 tournaments for the same week.</p>
        </li>
        <li>
          <h4>You can enroll in a maximum of 2 tournaments per weekend</h4>
          <p>You are limited to just 2 tournaments per weekend. You may be enrolled in a tournament on Saturday and then the
          other on Sunday. At no point can you be enrolled in two tournaments on the same day.</p>
        </li>
        <li>
          <h4>Team colors & members attire</h4>
          <p>It is recommended that your attire reflects your team color. For example, if you are a member of orange team
          then try to wear an orange shirt or pants. This helps to uniquely identify teams and members in a tournament.</p>
        </li>
        <li>
          <h4>Tournament enrollment period</h4>
          <p>Weekdays are usually the period you can enroll a new team in a tournament or join an already enrolled team.</p>
        </li>
      </ol>
    </div>
  </div>
</div>
