<div class="fb-follow">
    <h4 class="text-center">Follow us on facebook if you'd like to be notified when we officially launch the main website.</h4>
  <p class="text-center"><a href="https://www.facebook.com/sportndbelize/" class="btn btn-primary">Follow Us On Facebook</a></p>
</div>

<div class="main-content">
  <section class="sec-content">
    <h1 class="sec-title" id="overview">Overview</h1>
    <p>
      sportnd is a community where basketball players accross Belize will be able to start and organize their own
      tournaments. Tournaments are team oriented and are played on the weekend at basketball courts throughout Belize.
    </p>
    <p>
      We say tournaments are funded because on the day a tournament is to be played, participants
      will need to bring forth an entry amount (either $4, $6, or $8) specified by the tournament.
      Once the tournament has been played, the total entry amount from each team (the fundings) will be rewarded
      to the winning team by the organizer (the person who started the tournament).
    </p>

    <p>The following is how it all works in order of occurrence:</p>

    <div class="balling-phases">
      <div class="row">
        <div class="col-md-12">
          <h3>Organizer Collects Entry Amount Before Balling</h3><br/>
          <div class="col-md-8 col-sm-12 col-xs-12 center-block">
            <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1496852867/OrganizerCollecting_jkh6uw.png" alt="Organizer collecting">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Balling</h3><br/>
          <div class="col-md-9 col-sm-12 col-xs-12 center-block">
            <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1496469622/Balling_f2tg9y.png" alt="Playing tournament">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Organizer Rewards Winning Team</h3><br/>
          <div class="col-md-8 col-sm-12 col-xs-12 center-block">
            <img src="https://res.cloudinary.com/dwaavflqp/image/upload/v1496852862/OganizerRewardingWinner_uqxljw.png" alt="Reward winning team">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

