.col-md-4
  %figure
    .responsive-venue-md
      = image_tag(venue.venue_image_url(:medium), alt: "#{venue.name}") if venue.venue_image?
    %figcaption
      %h4.truncate= venue.name
      %h5.truncate= venue.address
      //%h5.tournaments-count= tournaments_this_week(venue)
