.col-md-4
  %figure
    = image_tag(venue.venue_image_url(:medium)) if venue.venue_image?
    %figcaption
      %h4.truncate= venue.name
      %h5.truncate= venue.address
      //%h5.tournaments-count= tournaments_this_week(venue)
