<div class="row">
  <div class="col-md-8 center-block">
    <div class="box-shadow text-center">
      <h2 class="devise-title">Please Sign In</h2>
      <%= link_to "Log In With Facebook", member_facebook_omniauth_authorize_path, class: "facebook-btn" %>
      <p class="fb-shared-link"><a href="#" type="button" data-toggle="modal" data-target="#authModal">Or Sign Up Using Facebook</a></p>
    </div>
  </div>
</div>
