
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'default';
@import 'default.date';
@import 'default.time';
@import "font-awesome";
@import "sweetalert2";

@import "shared";

@font-face {
  font-family: 'OpenSans-Regular';
  src:url('OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Revalia-Regular';
  src:url('Revalia-Regular.ttf');
}
