@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
}

.important {
  color: #000;
}

.header {
  background: url(https://res.cloudinary.com/dwaavflqp/image/upload/c_scale,q_80,w_1604/v1496982108/sabri-tuzcu-190600_cnucuc.jpg);
  padding-top: 30px;
  margin-bottom: 12px;
  padding-bottom: 40px;
  color: #FFF;

  font-family: 'Source Sans Pro', sans-serif;
  .main-title {
    color: #5FA441;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 8px;
  }
  h1, h3 {
    margin: 0;
  }
  h3 {
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.fb-follow {
  margin-top: 30px;
}

.balling-phases {
  margin-top: 20px;
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
  .row {
    margin-bottom: 40px;
    h3 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:bold;
      font-size: 21px;
      border-left: 4px solid #5FA441;
      padding-left: 15px;
    }
    .col-md-12 {
      padding-bottom: 34px;
    }
  }
}


.main-content {
  img {
    width: 100%;
    height: auto;
  }

  .sec-content {
    font-size: 20px;
    border-radius: 4px;
    padding: 30px 0;
    background: #FFF;
    color: #424242;
    p{
      padding-bottom: 20px;
    }
    h1 {
      font-size: 28px;
      padding-bottom: 10px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight:bold;
    }
  }
}

.center-block {
  float: none;
}

/* Container */
@media (min-width: 1200px) {
    .container{
        max-width: 920px;
    }
}

.btn-primary {
  border: 0;
  border-radius: 24px;
}

@media (max-width: 994px) {
  div.nav {
    ul li{
      display: block;
      padding-right: 0;
    }
  }
}

@media (max-width: 515px) {
  .main-title {
    font-size: 35px!important;
  }
  .sec-content {
    padding: 24px!important;
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
      padding-bottom: 17px;
    }
    .sub-title {
      font-size: 21px!important;
    }
    ul {
      padding-left: 18px!important;
    }
  }

  div.header h3 {
    font-size: 20px;
  }

}
