@import "variables";
@import "overrides";

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:16px;
    color: $dark;
}

.navbar {
  margin-bottom: 0;
}

.navbar.navbar-default{
  min-height: 55px;
  background: #79BE5B;
  border: none;
  border-top: 3px solid #5fa441;
  border-radius: 0;
  margin-bottom: 50px;
  .navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFF;
    font-size: 26px;
    padding-top: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    small {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: normal;
      display:block;
      font-size:17px;
      padding-top: 1px;
      letter-spacing: normal;
    }
  }
  .nav .open > a{
    background:#79BE5B;
    border: none;
  }
  .auth-link {
    color: #FFF;
    font-size: 17px!important;
    &:hover, &:focus {
      color: #f7f7f7;
    }
  }
  .username {
    display: inline-block;
  }
  .auth-link.lg {
    font-size: 19px!important;
  }
  .auth-link.header-btn {
    background: #5fa441;
    padding: 6px 14px;
    border-radius: 24px;
    margin-top: 9px;
  }
  .profile-img{
      margin-top: -7px;
      margin-right: 5px;
      float: left;
      background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
      width: 35px;
      height: 35px;
  }
  .dropdown-toggle{
    padding-right: 0px!important;
  }
}

.mobile-nav {
  margin-bottom: 15px;
  display: none;
  border-top: 2px solid #5FA441;
  padding-top: 18px;
  margin-top: 15px;
  a {
    color: #FFF;
    font-size: 18px;
    &:first-of-type {
      margin-right: 18px;
    }
  }
  .mobile-username {
    font-size: 18px;
    display: inline-block;
  }
  .dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
    a {
      font-size: 15px;
    }
  }
}

.navbar-collapse {
  padding-right: 0;
}

.swal2-modal.show-swal2 {
  font-family: 'Roboto Condensed', sans-serif;
}

.tournament-noitce {
  border: 1px solid #79BE5B;
  margin-bottom: 25px;
  background: #FAFAFA;
  padding: 6px 16px;
  border-radius: 2px;
  p {
    font-size: 15px;
    margin: 0;
  }
}

.em {
  color: #000;
}

div.info {
  border: 1px solid #71BA51;
  padding: 12px 35px;
  margin-bottom: 50px;
  font-size: 14px;
  border-radius: 2px;
  p {
    margin: 0;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  padding-bottom: ($height / $width) * 100%;
  img,
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.responsive-member {
  @include aspect-ratio(100, 100);
}

.responsive-member-md {
  @include aspect-ratio(180, 180);
}

.responsive-venue-md {
  @include aspect-ratio(360, 360);
}

.tournaments-this-weekend {
  margin-bottom: 20px;
  text-align: right;
}

.search-form {
  margin-bottom: 50px;
  input[type="text"] {
    border: 1px solid $light_border!important;
    border-right: 0!important;
    border-radius: 4px 0 0 4px!important;
    color: $gray!important;
    height: 50px;
    font-size: 18px;
  }
  .stylish-input-group .input-group-addon{
      background: white !important;
      border: 1px solid $light_border!important;
      border-left: 0!important;
  }
  .stylish-input-group .form-control{
  	border-right:0;
  	box-shadow:0 0 0;
  	border-color:#ccc;
  }
  .stylish-input-group button{
      border:0;
      background:#FFF!important;
  }
}

.profile-tourament-details{
  h4 {
    padding-top: 6px!important;
  }
}

.home-new-tournament {
  margin-bottom: 90px;
  h2, h3 {
    margin: 0;
  }
  .header {
    border-bottom: 1px solid $light_border;
    padding-bottom: 22px;
  }
  .body {
    padding-top: 22px;
    .btn {
      margin-top: 20px;
    }
  }
}

#main {
    flex: 1;
}

.fb-shared-link {
  padding-top: 14px;
}

#authModal {
  color: $dark;
  .modal-header {
    border-bottom: 0;
    .modal-title {
      color: #000;
      padding-top: 20px;
      padding-bottom: 0;
    }
    .modal-subtitle {
      margin: 0;
    }
  }
  .modal-content {
    border-radius: 4px;
    padding-bottom: 40px;
    border-bottom: 4px solid #79BE5B;
  }
  .modal-body {
    padding-left: 58px;
    padding-right: 58px;
    .body-content{
      margin-top: 14px;
      margin-bottom: 40px;
    }
    .facebook-btn {
      font-size: 13px;
    }
  }
  .modal-footer {
    h5 {
      margin: 0;
    }
    padding-top: 0;
    border-top: 0;
    color: #999999;
  }
}

.facebook-btn {
  background-color: #4267b2;
  border-color: #4267b2;
  color: #FFF;
  padding: 8px 18px;
  border-radius: 3px;
  text-transform: uppercase;
  &:hover {
    background: #365899;
    color: #FFF;
  }
}

.tournament-organized-by {
  margin-top: 24px;
  .col-md-10 {
    padding-top: 14px;
  }
}

#new_team {
    margin-top: 14px;
}

.details-shadow {
  color: $dark;
  .progress-container {
    .progress {
      height: 3px;
    }
    h4 {
      padding-top: 5px;
    }
  }
  .progress {
    margin: 0;
  }
}

.progress {
  height: 4px;
}

h2.devise-title{
    margin: 0;
    margin-bottom: 50px;
}

.tournament-full{
  background: #79BE5B;
  color: #FFF;
  padding: 0 8px;
  border-radius: 24px;
}

.tournament-full.full-lg {
  padding: 5px 18px;
}

.tournament-enrolled-users {
  margin-top: 14px;
}
.after_signups.show {
  display: flex!important;
  #edit_member_1 {
    margin-top: 50px;
  }
}

.members.show {
  display: flex!important;
  .box-shadow {
    margin-bottom: 40px;
    h4 {
      padding-bottom: 10px;
    }
    &:last-of-type {
      margin: 0;
    }
  }
}

.gen-title {
  padding-bottom: 25px;
}

.title {
  margin: 0;
  padding-bottom: 35px;
}

.member-header {
  margin-bottom: 50px;
  img {
    margin-bottom: 15px;
  }
  h4 {
    margin: 0;
    padding-top: 3px;
  }
}

.member-tournament {
  margin-bottom: 40px;
  .header-address {

  }
  .col-md-8 {
    h4 {
      margin: 0;
      padding-bottom: 8px;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.tournament.cant_enroll {
  color: #CCC;
  img {
    background: #CCC;
    opacity: 0.3;
  }
  .progress-bar {
    background-color: #CCC;
  }
}

.box-shadow {
  border-radius: 2px;
  border: 1px solid $light_border;
  padding: 35px;
}

.application-col {
    background: #FFF;
    padding: 40px;
    border-radius: 2px;
    border: 1px solid #f1f1f1;
}

.application-col.closed {
  color: #ccc;
  .details.closed {
    color: #CCC;
    border: 1px solid #CCC;
  }
  .progress-container.closed {
    .progress-bar {
      background: #CCC;
    }
  }
}

.your-tournaments{
  margin-top: 35px;
}

.members.index {
  h3 {
    margin: 0;
    padding-bottom: 8px;
  }
  .header {
    margin-bottom: 40px;
  }
  .col-md-2 {
    margin-bottom: 25px;

  }
  .member {
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.pages.information {
  ol {
    li {
      margin-bottom: 40px;
      p {
        margin-top: 5px;
      }
    }
  }
}

.teams.index {
  .team-address {
    padding-bottom: 21px;
    color: #5C5C5C;
    margin: 0;
  }
  .header {
    margin-bottom: 55px;
    padding-bottom: 24px;
    border-bottom: 1px solid #f1f1f1;
    h3 {
      margin: 0;
    }
  }
  .members-wrapper {
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 0;
    }
    .teams-header {
      margin-bottom: 28px;
      .tournament-type {
        margin: 0;
      }
      .datetime {
        margin: 0;
      }
    }

  }
  .col-md-7 {
    h5 {
      margin: 0;
      padding-bottom: 8px;
    }
  }
  .col-md-5{
    .team-container {
      background: #FFF;
      h4 {
        margin: 0;
        padding-bottom: 6px;
      }
      .team-color-name{
        padding-bottom: 5px;
      }
      p {
        margin: 0;
        margin-bottom: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid $light_border;
        &:last-of-type {
          border: 0;
        }
      }
      .details {
      }
      .enrolled-in-team {
        margin-bottom: 20px;
      }
      .btn {
        margin-top: 18px;
      }
    }
  }
}

.gray-txt {
  color: $gray;
}

.tournament-address{
  margin-bottom: 38px;
  h5 {
    margin: 0;
  }
}

.profile-tournament-address {
  margin-bottom: 18px;
}

.team-members {
  border-top: 1px solid #f7f7f7;
  margin-top: 20px;
  img {
    margin-top: 12px;
  }
}

img{
    width: 100%;
    height: auto;
}

label.message {
  color: #ed2412;
}

#tournament_date, #tournament_time {
  background: #FFF;
}

/* TEAM COLORS */
.fa-circle.blue {
  color: #2C82C9;
}
.fa-circle.white {
  color: #FFF;
  border: 1px solid #f7f7f7;
  border-radius: 100%;
}
.fa-circle.black {
  color: #212121;
}
.fa-circle.orange {
  color: #FD5B03;
}
.fa-circle.red {
  color: #e74c3c;
}
.fa-circle.green {
  color: #27AE60;
}
.fa-circle.yellow {
  color: #EDD834;
}
.fa-circle.gray {
  color: #808080;
}

.tournament-notice {
  border: 1px solid #f7f7f7;
  padding: 15px 40px;
  h3, h4 {
    line-height: 1.5em;
    margin: 0;
  }
}

.tournament-notice.st{
  margin-top: 40px;
}

/* MAIN CONTENT SECTION */
.main-content {
    background: #FFF;
    color: $dark;
    border-radius: 2px;
}

.team {
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 12px;
    background: #FFF;
    color: $dark;
    border: 1px solid #f7f7f7;
    h5 {
      margin: 0;
    }
    &:last-of-type {
      margin: 0;
      margin-bottom: 20px;
    }
    a {
      margin-top: 10px;
    }
}

.tournaments.index {
  .tournament {
    margin-bottom: 40px;
      &:last-of-type {
        margin: 0;
        border: none;
      }
      h4 {
        margin: 0;
        padding-bottom: 8px;
      }
  }
  .progress-container h4 {
    padding-top: 16px;
  }
}

.tournaments.new, .tournaments.create {
  .new-header{
    margin-bottom: 40px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 30px;
    h2, h4 {
      margin: 0;
    }
    h2 {
      padding-bottom: 4px;
    }
  }
  label {
    padding-bottom: 8px;
  }
  .form-group {
    margin-bottom: 48px;
  }
  section{
    margin-bottom: 20px;
    &:last-of-type {
      margin: 0;
    }
  }
  .tournament-info {
    border: 1px solid #dce0e0;
    border-bottom: 2px solid #79BE5B;
    padding: 20px;
    border-radius: 2px;
    .fa.fa-lightbulb-o{
      font-size: 32px;
      color: #79BE5B;
    }
    .info-title {
      color: #000;
      margin: 0;
      padding-bottom: 6px;
    }
    p {
      color: $gray;
    }
  }
}

.profile-header {
  margin-bottom: 50px;
  p {
    margin: 0;
  }
  .cant-start-tournament {
    h3 {
      line-height: 1.3em;
    }
  }
  h3 {
    margin: 0;
    padding-bottom: 20px;
  }
}

img.default{
    width: auto;
}

.col-border{
    border: 1px solid #f7f7f7;
}

.row-title {
    text-align: center;
    margin-bottom: 35px;
}

.caption{
    position: relative;
    .caption-text {
        position: absolute;
        background: #71BA51;
        color: #FFF;
        opacity: 0.92;
        width: 100%;
        padding: 6px 0;
        top: 0;
    }
}

.organizer-img {
  margin-bottom: 40px;
  margin-top: 10px;
}

.venues.index {
  h3 {
    margin: 0;
    padding-bottom: 40px;
  }
  .venues-collection{
    .col-md-4 {
      margin-bottom: 50px;
      h4 {
        padding-bottom: 14px;
      }
      h5 {
        margin: 0;
        padding-top: 4px;
      }
    }
  }
}

.col-md-5.col-sm-5.col-xs-5.show-team-container {
    border-right: 1px solid #f1f1f1;
}

.show-team-container {
  h4, h5 {
    margin: 0;
    padding-bottom: 8px;
  }
  .btn {
    margin-top: 24px;
  }
}

/* TEAM COLORS */
.box-shadow.yellow {
  border-right: 2px solid #FCB410;
}
.box-shadow.red {
  border-right: 2px solid #e74c3c;
}
.box-shadow.green {
  border-right: 2px solid #55C34D;
}
.box-shadow.blue {
  border-right: 2px solid #3D8EB9;
}
.box-shadow.orange {
  border-right: 2px solid #FF7416;
}
.box-shadow.white {
  border-right: 2px solid #f7f7f7;
}
.box-shadow.gray {
  border-right: 2px solid #C7C7C7;
}
.box-shadow.black {
  border-right: 2px solid #333333;
}

.team-container {
  padding: 20px;
  margin-bottom: 10px;
  h4 {
    margin: 0!important;
    padding-bottom: 4px;
  }
}

.members {
  h5 {
    margin: 0;
    padding-bottom: 4px;
    &:last-of-type {
      padding-bottom: 10px;
    }
  }
}

ul.teams {
  list-style-type: none;
  margin:0;
  padding: 0;
  li {
      border-bottom: 1px solid $light_border;
      padding-bottom: 14px;
      margin-bottom: 14px;
      &:first-child {
        border: none;
      }
      &:last-child {
        border: none;
      }
    a {
      margin-top: 20px;
    }
  }
}

.team-container.red {
  border: 2px solid #e74c3c;
}

.team-container.gray {
  border: 2px solid #C7C7C7;
}

.team-container.green {
  border: 2px solid #55C34D;
}

.team-container.orange {
  border: 2px solid #FF7416;
}

.team-container.yellow {
  border: 2px solid #FCB410;
}

.team-container.white {
  border: 2px solid #f7f7f7;
}

.team-container.blue {
  border: 2px solid #3D8EB9;
}

.team-container.black {
  border: 2px solid #333333;
}

figure {
  figcaption {
    background: #FFF;
    border: 1px solid $light_border;
    padding: 20px;
    h4 {
      margin: 0;
      padding-bottom: 4px;
    }
  }
}


/* Header & Navigation */
header{
    h1, h2,h3, h4{
        margin: 0;
    }
    margin-bottom: 60px;
    background: #79be5b;
    color: #FFF;
    .brand{
        a{
            font-family: 'Revalia', cursive;
            font-size: 26px;
            &:hover, &:focus{
              color: #FFF;
              text-decoration: none;
            }
        }
        h4 {
          font-size: 18px;
        }
    }
    .col-md-5{
        line-height: 65px;
        height: 65px;
        .profile-img {
            margin-left: 18px;
        }
        .header-btn {
            padding: 6px 10px;
            border-radius: 4px;
        }
        .my-tournaments-btn {
          font-size: 19px;
        }
        .auth{
            border: 2px solid #FFF;
            padding: 8px 14px;
        }
        a{
            margin-right:14px;
            &:last-of-type{
                margin:0;
            }
        }
    }
}

.active {
  color: $gray;
}

.caption {
  position: relative;
  .text {
    position: absolute;
    top: 0;
    width: 100%;
    background: #79BE5B;
    color: #FFF;
    padding: 5px 8px;
    opacity: 0.95;
  }
}

nav.sidebar{
  font-size: 20px;
    ul {
        height: auto;
        list-style-type: none;
        margin:0;
        padding: 0;
    }
    li{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #79BE5B;
        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          border: none;
        }
        color: $dark;
          a {
              &:hover {
                color: $gray;
              }
          }
    }
    h4 {
        margin: 0;
    }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border{
    width: 100%;
    border-top: 1px solid #000;
    margin-top: 30px;
}

.border.bottom{
    margin-top: 0;
    margin-bottom: 30px;
}

hr.st {
    padding-top: 20px;
}

.upcoming-tournament {
  margin-bottom: 30px;
}

.tournaments.show {
  .facebook-btn {
    font-size: 11px;
    padding: 5px 12px;
  }
  .box-shadow {
    margin-top: 10px;
  }
    .tournament-title {
      border-top: 1px solid $light_border;
      margin-bottom: 25px;
      padding-top: 25px;
      h2 {
        margin: 0;
      }
    }
    .venue {
      h3 {
        padding-bottom: 8px;
      }
    }
    .tournament-header {
      margin-top: 20px;
      margin-bottom: 55px;
      h2, h3 {
        margin: 0;
      }
    }

    .organizer{
      padding-bottom: 20px;
      h3 {
        margin: 0;
        padding-bottom: 8px;
      }
    }
    .tournament-details {
      border-bottom: 1px solid $light_border;
      padding-bottom: 35px;
      padding-top: 20px;
      .fa {
        padding-right: 14px;
      }
      h3 {
        margin: 0;
        padding-bottom: 6px;
        &:last-of-type {
          padding: 0;
        }
      }
    }
    .progress-container {
      h4 {
        margin: 0;
        padding-top: 2px;
        padding-bottom: 7px;
      }
      .progress {
        height: 3px;
      }
    }
    .team-enrolled {
      border-bottom: 1px solid $light_border;
      padding: 20px 0;
      &:last-of-type {
        border: none;
      }
      .btn {
        margin-top: 14px;
      }
      .team-container {
        h5 {
          margin:0;
        }
      }
    }
    .enrolled-team{
        .header{
            margin-bottom: 24px;
            h3 {
                margin: 0px!important;
                padding-bottom: 3px;
            }
        }
    }
    .enrolled-teams {
        margin-top: 40px;
        padding-top: 35px;
        border-top: 1px solid $light_border;
        .enrolled-teams-header{
          h3 {
              margin: 0;
          }
          h4 {
            margin: 0;
            margin-bottom: 40px;
            padding-top: 4px;
          }
        }
    }
    .body {
      padding-top: 30px;
      padding-bottom: 5px;
        h2 {
          margin: 0;
          padding-bottom: 12px;
        }
        h3 {
          margin: 0;
        }
    }
    .manage-tournament {
        border-top: 1px solid $light_border;
        margin-top: 50px;
        padding-top: 40px;
    }
}


.my-tournaments {
    .section-title{
        margin: 0;
        padding-bottom: 18px;
    }
    .header {
      margin-bottom: 30px;
      margin-top: 30px;
    }
    h3 {
    }
    .history {
      margin-bottom: 30px;
    }
}

/* LINKS */
a.default {
  font-size: 14px;
  background: $light_border;
  padding: 6px;
  &:hover {
    background: #d9d9d9;
  }
}

a.notice {
  color: #79BE5B!important;
  &:hover, &:focus {
    color: #71BA51!important;
  }
}

/* Container */
@media (min-width: 1200px) {
    .container{
        max-width: 940px;
    }
}

/* Vertical column spacing */
.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 50px;
}

.row-grid + .row-grid {
    margin-top: 50px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

footer{
    margin-top: 80px;
    border-bottom: 3px solid #5fa441;
    padding: 14px 0;
    color: #FFF;
    background: #79be5b;
    h1, h2, h3, h4{
        margin: 0;
    }
    .col-md-8{
      h4 {
        padding-bottom: 6px;
      }
    }
}


/* Responsive Styles  */
@media (max-width: 766px) {
  .container{
      width: 100%;
  }
  .navbar-brand small {
      font-size: 14px!important;
      padding-top: 6px!important;
  }
  .sidebar {
    li {
      display: inline-block;
      margin-right:  18px;
      padding-top: 0!important;
      border: 0px!important;
      &:last-of-type {
        margin: 0;
      }
    }
  }
  .venues.index {
    .sidebar {
      margin-bottom: 10px;
    }
  }
  .tournaments.index {
    .responsive-venue-md {
      margin-bottom: 25px;
    }
    .tournament-address {
      margin-bottom: 25px;
    }
    .details-shadow {
      h4 {
        padding-bottom: 7px;
      }
      .progress-container h4 {
        padding-top: 10px;
      }
    }
  }
}

@media (max-width: 395px) {
  .mobile-nav {
    margin-top: 40px;
  }
  .tournaments.index {
    .box-shadow {
      h4 {
        font-size: 15px;
        color: #000;
      }
    }
  }
}
@media (max-width: 768px) {
  .navbar-brand small {
      padding-top: 6px!important;
  }
  .navbar-default .navbar-toggle {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}
