@import "variables";
@import "overrides";

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size:16px;
    color: $dark;
    background: #71BA51;
}

#main {
    flex: 1;
}

.application-col {
    background: #FFF;
    padding: 40px;
    border-radius: 2px;
}

.tournament-enrolled-users {
}

.tournament-address{
  margin-bottom: 18px;
  h4 {
    color: #999999;
  }
}

.team-members {
  border-top: 1px solid #f7f7f7;
  margin-top: 20px;
  img {
    margin-top: 12px;
  }
}

img{
    width: 100%;
    height: auto;
}

label.message {
  color: #ed2412;
}

#tournament_date, #tournament_time {
  background: #FFF;
}

/* TEAM COLORS */
.fa-circle.blue {
  color: #2C82C9;
}
.fa-circle.white {
  color: #FFF;
  border: 1px solid #D9D9D9;
  border-radius: 100%;
}
.fa-circle.black {
  color: #212121;
}
.fa-circle.orange {
  color: #FD5B03;
}
.fa-circle.red {
  color: #e74c3c;
}
.fa-circle.green {
  color: #27AE60;
}
.fa-circle.yellow {
  color: #EDD834;
}
.fa-circle.gray {
  color: #808080;
}

.tournament-notice {
  border: 1px solid #f7f7f7;
  padding: 15px 40px;
  h3, h4 {
    line-height: 1.5em;
    margin: 0;
  }
}

.tournament-notice.st{
  margin-top: 40px;
}

/* MAIN CONTENT SECTION */
.main-content {
    background: #FFF;
    color: $dark;
    border-radius: 2px;
}

.team {
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 12px;
    background: #FFF;
    color: $dark;
    border: 1px solid #f7f7f7;
    h5 {
      margin: 0;
    }
    &:last-of-type {
      margin: 0;
      margin-bottom: 20px;
    }
    a {
      margin-top: 10px;
    }
}


.tournament {
    padding: 40px;
    border-bottom: 1px solid $light_border;
    h4 {
      margin: 0;
      padding-bottom: 7px;
    }
}

img.default{
    width: auto;
}

.col-border{
    border: 1px solid #f7f7f7;
}

.row-title {
    text-align: center;
    margin-bottom: 35px;
}

.caption{
    position: relative;
    .caption-text {
        position: absolute;
        background: #71BA51;
        color: #FFF;
        opacity: 0.92;
        width: 100%;
        padding: 6px 0;
        top: 0;
    }
}

.organizer-img {
  margin-bottom: 40px;
  margin-top: 10px;
}

.venues.index {
  h3 {
    color: #FFF;
    margin: 0;
    padding-bottom: 40px;
  }
  .col-md-4 {
    margin-bottom: 40px;
  }
}

/* TEAM COLORS */

.team-container {
  padding: 20px 10px;
  margin-bottom: 10px;
  h4 {
    margin: 0!important;
  }
}

.members {
  h5 {
    margin: 0;
    padding-bottom: 8px;
  }
}

ul.teams {
  list-style-type: none;
  margin:0;
  padding: 0;
  li {
      border-bottom: 1px solid $light_border;
      padding-bottom: 14px;
      margin-bottom: 14px;
      &:first-child {
        border: none;
      }
      &:last-child {
        border: none;
      }
    a {
      margin-top: 20px;
    }
  }
}

.team-container.red {
  border: 1px solid #e74c3c;
}

.team-container.gray {
  border: 1px solid #C7C7C7;
}

.team-container.green {
  border: 1px solid #55C34D;
}

.team-container.orange {
  border: 1px solid #FF7416;
}

.team-container.yellow {
  border: 1px solid #FCB410;
}

.team-container.white {
  border: 1px solid $light_border;
}

.team-container.blue {
  border: 1px solid #3D8EB9;
}

.team-container.black {
  border: 1px solid #333333;
}

figure {
  figcaption {
    background: #FFF;
    border: 1px solid $light_border;
    padding: 20px;
    h4 {
      margin: 0;
      padding-bottom: 4px;
    }
  }
}


/* Header & Navigation */
header{
    h1, h2,h3, h4{
        margin: 0;
    }
    margin-bottom: 60px;
    background: #79be5b;
    color: #FFF;
    .brand{
        margin-top:6px;
        a{
            font-family: 'Revalia-Regular', cursive;
            font-size: 26px;
            &:hover {
              color: $light_border;
            }
        }
        h4 {
          font-size: 17px;
        }
    }
    a{
        color: #FFF;
        &:hover, &:focus{
            color: $light_border;
            text-decoration: none;
        }

    }
    .col-md-5{
        line-height: 80px;
        height: 80px;
        .profile-img {
            margin-left: 18px;
        }
        .header-btn {
            padding: 6px 10px;
            border-radius: 4px;
        }
        .auth{
            border: 2px solid #FFF;
            padding: 8px 14px;
        }
        a{
            margin-right:14px;
            &:last-of-type{
                margin:0;
            }
        }
    }
}

nav.sidebar{
    .items a{
        color: #FFF;
        &:hover, &:focus{
            color: $light_border;
            text-decoration: none;
        }
    }
    .search-form {
      margin-top: 12px;
      margin-bottom: 5px;
      border-radius: 40px;
      border: none;
    }
    ul {
        height: auto;
        list-style-type: none;
        margin:0;
        padding: 0;
    }
    li{
        padding-top: 4px;
        padding-left: 20px;
    }
    h4 {
        margin: 0;
    }
    span.home {

      color: #FFF;
        a {
            &:hover {
              color: $light_border;
            }
        }
    }
    span.title{
        display: block;
        color: #FFF;
        padding-bottom: 10px;
    }
    .section {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #5fa441;
        &:last-of-type {
          border:none;
        }
    }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border{
    width: 100%;
    border-top: 1px solid #000;
    margin-top: 30px;
}

.border.bottom{
    margin-top: 0;
    margin-bottom: 30px;
}

hr.st {
    padding-top: 20px;
}

.upcoming-tournament {
  margin-bottom: 30px;
}

.tournaments.show {
    h4 {
        margin: 0;
        margin-bottom: 6px;
    }
    .progress-container {
        margin-top: 20px;
    }
    .team-enrolled {
      border-bottom: 1px solid $light_border;
      padding: 20px 0;
      &:last-of-type {
        border: none;
      }
      .btn {
        margin-top: 14px;
      }
    }
    .organizer-details {
        h3 {
            padding-bottom: 5px;
        }
        h3, h4 {
            margin:0;
        }
        img{
            margin-top: 12px;
        }
    }
    .enrolled-team{
        .header{
            margin-bottom: 24px;
            h3 {
                margin: 0px!important;
                padding-bottom: 3px;
            }
        }
    }
    .enrolled-teams {
        margin-top: 60px;
        padding-top: 30px;
        border-top: 1px solid $light_border;
        h3 {
            margin: 0;
            margin-bottom: 18px;
        }
    }
    .details {
        margin-top: 20px;
        padding: 18px;
        border: 1px solid #79BE5B;
        color:$dark;
        border-radius: 2px;
        h4 {
            font-size: 20px;
            &:last-of-type {
                margin: 0;
            }
        }
    }
    .body {
        margin-top: 40px;
        h3 {
            margin: 0;
            margin-bottom: 18px;
        }
    }
    .manage-tournament {
        border-top: 1px solid $light_border;
        margin-top: 50px;
        padding-top: 40px;
    }
}

.my-tournaments {
    .section-title{
        margin: 0;
        padding-bottom: 18px;
    }
    h3 {
    }
    .history {
      margin-bottom: 30px;
    }
}

/* LINKS */
a.default {
  font-size: 14px;
  background: $light_border;
  padding: 6px;
  &:hover {
    background: #d9d9d9;
  }
}

a.notice {
  color: #79BE5B!important;
}

/* Container */
@media (min-width: 1200px) {
    .container{
        max-width: 960px;
    }
}

/* Vertical column spacing */
.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 50px;
}

.row-grid + .row-grid {
    margin-top: 50px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

footer{
    margin-top: 60px;
    padding: 30px 0;
    color: #FFF;
    background: #79be5b;
    h1, h2, h3, h4{
        margin: 0;
    }
    .title {
        padding-bottom: 12px;
    }
    ul{
        list-style: none;
        padding: 0;
        li{
            padding-top: 10px;
        }
    }
}
