<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h4>&copy; 2017 sportnd</h4>
					<h4>Proudly made in Belize</h4>
				</div>
				<div class="col-md-8">
					<h4 class="pull-right">Cayo, Belize, Corozal, Stann Creek, Orange Walk, Toledo</h4>
				</div>
			</div>
		</div>
</footer>
