<footer>
	<div class="footer-inner-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h4 class="title">Start Discovering</h4>
					<ul>
						<li>Teams</li>
						<li>Open tournaments</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h4 class="title">Join Our Community</h4>
					<ul>
						<li>Start a team</li>
						<li>Start a tournament</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h4 class="title">Connect With Us</h4>
					<ul>
						<li>Facebook</li>
						<li>Twitter</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-4 hidden-xs footer-logo">
					<h4>&copy; 2017 sportends</h4>
					<p>Proudly made in Belize</p>
				</div>
			</div>
		</div>
	</div>
</footer>
