<div class="notice-bar">
    <p class="notice-title">Hey there!</p>
    <% if current_member %>
      <% if policy(Tournament).new? %>
        <p>It's officially the weekend and you can now start your own tournament for next weekend!</p>
      <% else %>
        <% if Tournament.upcoming.any? %>
          <p>You can participate in any upcoming tournaments or wait for this weekend to start your own.</p>
        <% else %>
          <p>There's currently no upcoming tournaments. Come back later when there is or use this weekend to start your own.</p>
        <% end %>
      <% end %>
    <% else %>
      <% if Date.today.saturday? || Date.today.sunday? %>
        <p>It's officially the weekend and you can now start your own tournament for next weekend!</p>
      <% else %>
        <% if Tournament.upcoming.any? %>
          <p>You can participate in any upcoming tournaments or wait for this weekend to start your own.</p>
        <% else %>
          <p>There's currently no upcoming tournaments. Come back later when there is or use this weekend to start your own.</p>
        <% end %>
      <% end %>
    <% end %>
</div>
