<nav class="sidebar">
  <ul>
    <li><%= link_to "Tournaments", root_path %></li>
    <li><%= active_link_to "Members", members_path %></li>
    <li><%= active_link_to "Courts", venues_path %></li>
  </ul>
</nav>
