<nav class="sidebar">
  <ul>
    <li><%= link_to "Tournaments", root_path %></li>
    <li><%= active_link_to "Members", members_path %></li>
    <li><%= active_link_to "Sporting Venues", venues_path %></li>
    <% if user_signed_in? %>
    <% end %>
  </ul>
</nav>
