<!DOCTYPE html>
<html>
  <head>
    <!-- LOVE YOU UNCLE ZANE - ALWAYS. -->
    <title>sportnd - Basketball community coming soon</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto+Condensed" rel="stylesheet">

    <%= stylesheet_link_tag    'prelaunch', media: 'all' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <h1 class="text-center main-title">Coming soon, sportnd</h1>
        <h3 class="text-center">A new sporting community for basketball players in Belize. Start tournaments
        and have participating teams fund them. The winning team is rewarded the funds!</h3>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
