<div class="member box-shadow">
    <div class="row gutter-60">
        <div class="col-md-3 col-sm-4 col-xs-4">
          <%= profile_image_md(member)  %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-8">
          <h4><%= member.name %></h4>
          <h4><%= member.location %></h4>
          <h4><%= member_tournaments_count(member) %></h4>
        </div>
    </div>
</div>
