<div class="member box-shadow">
  <div class="row gutter-60">
    <div class="col-md-3 col-sm-5 col-xs-4">
      <div class="responsive-member-md">
        <%= profile_image_md(member) %>
      </div>
    </div>
    <div class="col-md-9 col-sm-7 col-xs-8">
      <h4><%= member.name %></h4>
      <h4><%= member.location %></h4>
      <h4><%= days_balling_on(member) %></h4>
    </div>
  </div>
</div>
