<% if User.any? %>
  <div class="row">
      <div class="col-md-12 header">
          <h3>Members In The Community</h3>
          <a href="#" class="btn btn-xs btn-primary round">Cayo</a>
          <a href="#" class="btn btn-xs btn-primary round">Belize</a>
          <a href="#" class="btn btn-xs btn-primary round">Corozal</a>
          <a href="#" class="btn btn-xs btn-primary round">Orange Walk</a>
          <a href="#" class="btn btn-xs btn-primary round">Stann Creek</a>
          <a href="#" class="btn btn-xs btn-primary round">Toledo</a>
      </div>
  </div>
  <div class="js-items-container">
      <%= render partial: 'members/member', collection: @members %>
  </div>
  <div class="row">
      <div class="col-md-1 center-block pagination" data-pagination-endpoint="<%= @endpoint %>" data-pagination-pages="<%= @page_amount %>">
          <%= image_tag 'ajax-loader.gif' %>
      </div>
  </div>
<% end %>
